/*  */


#header{
    width:100%;    
    border-style:dashed;
    border-width: 0 0 2 0;

}

#ingredients {
    width: 50%;
    float:left;
}

#instructions {
    width: 50%;
    float: right;
}

#footer{
    clear: both;
    border-style:dashed;
    border-width: 2 0 0 0;
}
@media print {
    .noprint {
	display: none;
    }
}
